## Part 1: Exploratory Analysis and Visualization

In [ ]:
# ALIYA KAMAL (#50548366)

In [20]:
import numpy as np
import pandas as pd

In [21]:
# read in data file

homes_df = pd.read_csv('WestRoxbury_unprocessed.csv')

### Basic Exploratory Analysis

In [22]:
# print the data types of each column
homes_df.dtypes

TOTAL_VALUE    float64
LOT_SQFT       float64
YR_BUILT         int64
LIVING_AREA    float64
FLOORS         float64
ROOMS            int64
BEDROOMS         int64
FULL_BATH        int64
HALF_BATH        int64
KITCHEN          int64
FIREPLACE        int64
REMODEL         object
dtype: object

In [23]:
# print the shape of the dataframe
homes_df.shape

(5802, 12)

In [24]:
# check for null values
homes_df.isnull().sum()

TOTAL_VALUE       0
LOT_SQFT          1
YR_BUILT          0
LIVING_AREA       2
FLOORS            0
ROOMS             0
BEDROOMS          0
FULL_BATH         0
HALF_BATH         0
KITCHEN           0
FIREPLACE         0
REMODEL        4346
dtype: int64

In [25]:
#check categories of remodel column
homes_df["REMODEL"].value_counts()

REMODEL
Recent    875
Old       581
Name: count, dtype: int64

In [26]:
# look at the frequency of occurence in the "ROOMS" column
homes_df["ROOMS"].value_counts()

ROOMS
7     1769
6     1669
8      936
5      578
9      450
10     200
4       71
11      66
12      45
13      10
14       5
3        3
Name: count, dtype: int64

In [27]:
# look at the correlation between all of the predictors (be sure to only focus on the predictors, and not the target variable)
predictors_df=homes_df[['LOT_SQFT' ,'YR_BUILT','LIVING_AREA','FLOORS','ROOMS','BEDROOMS','FULL_BATH','HALF_BATH','KITCHEN','FIREPLACE']]
response_df=homes_df['TOTAL_VALUE']
predictors_df.corr()

,LOT_SQFT,YR_BUILT,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE
LOT_SQFT,1.000000,-0.068903,0.426145,0.073640,0.308398,0.254094,0.201427,0.134947,0.044518,0.181910
YR_BUILT,-0.068903,1.000000,-0.131162,-0.190453,-0.144686,-0.130411,0.073706,0.060685,0.052091,0.087234
LIVING_AREA,0.426145,-0.131162,1.000000,0.475604,0.720688,0.641065,0.438143,0.300847,0.082799,0.261992
FLOORS,0.073640,-0.190453,0.475604,1.000000,0.432856,0.431242,0.112166,0.316142,-0.114602,0.120506
ROOMS,0.308398,-0.144686,0.720688,0.432856,1.000000,0.710693,0.378274,0.282655,0.129223,0.205223
BEDROOMS,0.254094,-0.130411,0.641065,0.431242,0.710693,1.000000,0.332620,0.256852,0.085353,0.164380
FULL_BATH,0.201427,0.073706,0.438143,0.112166,0.378274,0.332620,1.000000,-0.130628,0.146650,0.140160
HALF_BATH,0.134947,0.060685,0.300847,0.316142,0.282655,0.256852,-0.130628,1.000000,-0.020071,0.176234
KITCHEN,0.044518,0.052091,0.082799,-0.114602,0.129223,0.085353,0.146650,-0.020071,1.000000,-0.009562
FIREPLACE,0.181910,0.087234,0.261992,0.120506,0.205223,0.164380,0.140160,0.176234,-0.009562,1.000000

## Part 2: Data preprocessing

#### Drop predictors (if you feel it's necessary)

In [28]:
#taking care of categorical column before dropping any column
#AS None is being detected as NaN, change the type of REMODEL
#also changing Object to categorical column nameREMODEL.
homes_df['REMODEL'] = homes_df['REMODEL'].astype('category')
homes_df['REMODEL']= homes_df['REMODEL'].cat.add_categories('none')
homes_df['REMODEL'].fillna('none',inplace=True)
homes_df['REMODEL'].value_counts()

REMODEL
none      4346
Recent     875
Old        581
Name: count, dtype: int64

In [29]:
#PART 2
#1: not dropping any columns atm.
#checking data type before proceed.
homes_df.dtypes

TOTAL_VALUE     float64
LOT_SQFT        float64
YR_BUILT          int64
LIVING_AREA     float64
FLOORS          float64
ROOMS             int64
BEDROOMS          int64
FULL_BATH         int64
HALF_BATH         int64
KITCHEN           int64
FIREPLACE         int64
REMODEL        category
dtype: object

In [30]:
#Part 2:
#2:
####DEAL WITH NA Values
#2 columns with NA values and checking here.
homes_df_imp=homes_df.fillna(value={ "LOT_SQFT":homes_df["LOT_SQFT"].mean(),"LIVING_AREA": homes_df["LOT_SQFT"].mean ()}).copy()
homes_df_imp.isnull().sum()

TOTAL_VALUE    0
LOT_SQFT       0
YR_BUILT       0
LIVING_AREA    0
FLOORS         0
ROOMS          0
BEDROOMS       0
FULL_BATH      0
HALF_BATH      0
KITCHEN        0
FIREPLACE      0
REMODEL        0
dtype: int64

#### Deal with categorical variables

In [31]:
# flag categorical varibales

homes_df_imp1=pd.get_dummies(homes_df_imp,dtype=int)
homes_df_imp1.head()

,TOTAL_VALUE,LOT_SQFT,YR_BUILT,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL_Old,REMODEL_Recent,REMODEL_none
0,344.2,9965.0,1880,1352.0,2.0,6,3,1,1,1,0,0,0,1
1,412.6,6590.0,1945,1976.0,2.0,10,4,2,1,1,0,0,1,0
2,330.1,7500.0,1890,1371.0,2.0,8,4,1,1,1,0,0,0,1
3,498.6,13773.0,1957,2608.0,1.0,9,5,1,1,1,1,0,0,1
4,331.5,5000.0,1910,1438.0,2.0,7,3,2,0,1,0,0,0,1

In [32]:
#extra step 
homes_df_imp1.corr()

,TOTAL_VALUE,LOT_SQFT,YR_BUILT,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL_Old,REMODEL_Recent,REMODEL_none
TOTAL_VALUE,1.000000,0.546107,-0.100917,0.823530,0.481523,0.638539,0.561871,0.432807,0.348167,0.018265,0.358567,0.041721,0.228764,-0.217711
LOT_SQFT,0.546107,1.000000,-0.068903,0.421103,0.073639,0.308398,0.254093,0.201395,0.134932,0.044518,0.181906,0.022732,0.038999,-0.047929
YR_BUILT,-0.100917,-0.068903,1.000000,-0.128056,-0.190453,-0.144686,-0.130411,0.073706,0.060685,0.052091,0.087234,-0.064071,-0.101228,0.127916
LIVING_AREA,0.823530,0.421103,-0.128056,1.000000,0.465055,0.709462,0.630201,0.433778,0.293710,0.081412,0.257472,0.044098,0.165224,-0.166909
FLOORS,0.481523,0.073639,-0.190453,0.465055,1.000000,0.432856,0.431242,0.112166,0.316142,-0.114602,0.120506,0.048083,0.095531,-0.112143
ROOMS,0.638539,0.308398,-0.144686,0.709462,0.432856,1.000000,0.710693,0.378274,0.282655,0.129223,0.205223,0.050327,0.139214,-0.149754
BEDROOMS,0.561871,0.254093,-0.130411,0.630201,0.431242,0.710693,1.000000,0.332620,0.256852,0.085353,0.164380,0.042266,0.121563,-0.129603
FULL_BATH,0.432807,0.201395,0.073706,0.433778,0.112166,0.378274,0.332620,1.000000,-0.130628,0.146650,0.140160,0.023718,0.206033,-0.186483
HALF_BATH,0.348167,0.134932,0.060685,0.293710,0.316142,0.282655,0.256852,-0.130628,1.000000,-0.020071,0.176234,-0.009348,0.021487,-0.011263
KITCHEN,0.018265,0.044518,0.052091,0.081412,-0.114602,0.129223,0.085353,0.146650,-0.020071,1.000000,-0.009562,0.023769,0.010102,-0.024796
FIREPLACE,0.358567,0.181906,0.087234,0.257472,0.120506,0.205223,0.164380,0.140160,0.176234,-0.009562,1.000000,-0.008019,0.020092,-0.011032
REMODEL_Old,0.041721,0.022732,-0.064071,0.044098,0.048083,0.050327,0.042266,0.023718,-0.009348,0.023769,-0.008019,1.000000,-0.140580,-0.576336
REMODEL_Recent,0.228764,0.038999,-0.101228,0.165224,0.095531,0.139214,0.121563,0.206033,0.021487,0.010102,0.020092,-0.140580,1.000000,-0.728076
REMODEL_none,-0.217711,-0.047929,0.127916,-0.166909,-0.112143,-0.149754,-0.129603,-0.186483,-0.011263,-0.024796,-0.011032,-0.576336,-0.728076,1.000000

#### Normalize data

In [33]:
from sklearn import preprocessing

In [34]:
# create a dataframe with just the predictors, and another with just the values for the response variable
# predictor_df should be helpful when you normalize the predictors below, and response_df should be helpful when you partition
# your data into train and test sets (hint: you can use "y = response_df" when you partition)

predictor_df = homes_df_imp1[['LOT_SQFT' ,'YR_BUILT','LIVING_AREA','FLOORS','ROOMS','BEDROOMS','FULL_BATH','HALF_BATH','KITCHEN','FIREPLACE','REMODEL_Old', 'REMODEL_Recent','REMODEL_none']]
response_df = homes_df_imp1['TOTAL_VALUE']

In [35]:
# PART 2
# 4:
# normalize predictors using standardization (i.e., force all predictors to have mean = 0  and standard deviation = 1)
#zscore  #Check corr after flagging
z_score_norm=preprocessing.StandardScaler()
predictor_df_normalize=z_score_norm.fit_transform(predictor_df)
predictor_df_normalize= pd.DataFrame(predictor_df_normalize,columns= predictor_df.columns)
predictor_df_normalize.head(10)

,LOT_SQFT,YR_BUILT,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL_Old,REMODEL_Recent,REMODEL_none
0,1.381094,-1.576825,-0.560857,0.710966,-0.692039,-0.271806,-0.568577,0.723264,-0.124814,-1.309450,-0.333589,-0.421418,0.578810
1,0.116790,0.229392,0.579744,0.710966,2.090505,0.909482,1.347151,0.723264,-0.124814,-1.309450,-0.333589,2.372943,-1.727683
2,0.457684,-1.298946,-0.526127,0.710966,0.699233,0.909482,-0.568577,0.723264,-0.124814,-1.309450,-0.333589,-0.421418,0.578810
3,2.807603,0.562847,1.734968,-1.537005,1.394869,2.090769,-0.568577,0.723264,-0.124814,0.460275,-0.333589,-0.421418,0.578810
4,-0.478838,-0.743187,-0.403659,0.710966,0.003597,-0.271806,1.347151,-1.150120,-0.124814,-1.309450,-0.333589,-0.421418,0.578810
5,-0.425643,0.368332,-1.094600,-1.537005,-0.692039,-0.271806,-0.568577,-1.150120,-0.124814,0.460275,2.997704,-0.421418,-1.727683
6,-0.478838,0.479484,0.470071,0.710966,0.003597,-0.271806,-0.568577,0.723264,-0.124814,-1.309450,-0.333589,-0.421418,0.578810
7,1.394205,0.368332,-0.838696,-1.537005,-0.692039,-0.271806,-0.568577,-1.150120,-0.124814,-1.309450,-0.333589,-0.421418,0.578810
8,0.208569,0.590635,-1.036108,-1.537005,-1.387675,-0.271806,-0.568577,-1.150120,-0.124814,0.460275,-0.333589,2.372943,-1.727683
9,-0.443999,-1.021066,2.436876,0.710966,0.699233,0.909482,1.347151,-1.150120,-0.124814,-1.309450,-0.333589,-0.421418,0.578810

In [36]:
#extra step, will help write up question as well.
predictor_df_normalize.describe()

,LOT_SQFT,YR_BUILT,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL_Old,REMODEL_Recent,REMODEL_none
count,5.802000e+03,5.802000e+03,5.802000e+03,5.802000e+03,5.802000e+03,5.802000e+03,5.802000e+03,5.802000e+03,5.802000e+03,5.802000e+03,5.802000e+03,5.802000e+03,5.802000e+03
mean,5.878327e-17,2.155386e-15,2.155386e-16,-1.273637e-16,-3.037135e-16,-1.126679e-16,1.371610e-16,-1.028707e-16,4.702661e-16,9.797211e-18,-1.469582e-17,-9.797211e-18,-8.817490e-17
std,1.000086e+00,1.000086e+00,1.000086e+00,1.000086e+00,1.000086e+00,1.000086e+00,1.000086e+00,1.000086e+00,1.000086e+00,1.000086e+00,1.000086e+00,1.000086e+00,1.000086e+00
min,-1.978396e+00,-5.381819e+01,-2.110905e+00,-1.537005e+00,-2.778947e+00,-2.634382e+00,-5.685770e-01,-1.150120e+00,-1.248139e-01,-1.309450e+00,-3.335886e-01,-4.214177e-01,-1.727683e+00
25%,-5.642486e-01,-4.653070e-01,-6.412842e-01,-1.537005e+00,-6.920392e-01,-2.718061e-01,-5.685770e-01,-1.150120e+00,-1.248139e-01,-1.309450e+00,-3.335886e-01,-4.214177e-01,-1.727683e+00
50%,-2.229802e-01,-4.848764e-02,-1.998497e-01,7.109663e-01,3.596877e-03,-2.718061e-01,-5.685770e-01,7.232645e-01,-1.248139e-01,4.602747e-01,-3.335886e-01,-4.214177e-01,5.788097e-01
75%,2.787144e-01,5.072716e-01,3.946703e-01,7.109663e-01,6.992329e-01,9.094817e-01,1.347151e+00,7.232645e-01,-1.248139e-01,4.602747e-01,-3.335886e-01,-4.214177e-01,5.788097e-01
max,1.503408e+01,2.063397e+00,8.443740e+00,2.958937e+00,4.873049e+00,6.815921e+00,7.094335e+00,4.470033e+00,8.011929e+00,5.769448e+00,2.997704e+00,2.372943e+00,5.788097e-01

## Part 3: Multiple Linear Regression

### First, train and test the multiple linear regression model with sklearn

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [38]:
# partition data into train and test sets
X=predictor_df_normalize
Y=response_df
train_X, test_X, train_Y, test_Y=train_test_split(X,Y,test_size=0.3,random_state=1)

In [39]:
# train the LR model
linear_model = LinearRegression().fit(train_X,train_Y)

In [40]:
# print the coefficients
print('intercept ', linear_model.intercept_)
print(pd.DataFrame({'Predictor': X.columns, 'coefficient': linear_model.coef_}))

intercept  392.69838961597367
         Predictor   coefficient
0         LOT_SQFT  2.656856e+01
1         YR_BUILT -1.451511e-01
2      LIVING_AREA  4.864943e+01
3           FLOORS  1.384429e+01
4            ROOMS  4.076388e+00
5         BEDROOMS -6.862815e-01
6        FULL_BATH  1.176627e+01
7        HALF_BATH  1.065795e+01
8          KITCHEN -3.615061e+00
9        FIREPLACE  1.209317e+01
10     REMODEL_Old -2.535256e+14
11  REMODEL_Recent -3.022402e+14
12    REMODEL_none -3.661697e+14

In [41]:
# print performance metrics on training set (I gave you the template to print the RMSE; you may need to update based on your code)
predicted_Y_training = linear_model.predict(train_X)
print("Root Mean Squared Error (RMSE): ", round(mean_squared_error(train_Y, predicted_Y_training) ** 0.5, 4))

Root Mean Squared Error (RMSE):  45.9412

In [42]:
# now, deploy the model on the test data
predicted_Y_test = linear_model.predict(test_X)  # these are our y_hat values!!

result = pd.DataFrame({'Predicted': predicted_Y_test, 'Actual': test_Y,
                       'Residual': np.array(test_Y) - np.array(predicted_Y_test)})
result.head(20)

       Predicted  Actual    Residual
1822  414.275518   462.0   47.724482
1998  368.088018   370.4    2.311982
5126  397.369268   407.4   10.030732
808   371.963018   316.1  -55.863018
4034  420.900518   393.2  -27.700518
4683  467.400518   554.3   86.899482
3375  454.104107   426.0  -28.104107
3696  540.400518   621.5   81.099482
3211  378.463018   354.2  -24.263018
623   318.900518   302.9  -16.000518
3854  413.604107   419.6    5.995893
1687  332.650518   395.6   62.949482
1051  329.275518   316.5  -12.775518
1851  244.244268   263.8   19.555732
3604  457.463018   399.5  -57.963018
1847  338.104107   383.7   45.595893
486   354.150518   280.7  -73.450518
899   342.400518   272.3  -70.100518
2252  356.088018   439.6   83.511982
3541  436.494268   558.6  122.105732

In [ ]:
# how did our model perform in prediction? (I gave you the template to print the RMSE; you may need to update based on your code)

print("Root Mean Squared Error (RMSE): ", round(mean_squared_error(test_Y, predicted_Y_test) ** 0.5, 4))